<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>INSERT USER</h1>
    <form id="formulario">
        <h2>User</h2>
        <input type="text" id="username" name="username">
        <h2>Password</h2>
        <input type="password" id="password" name="password">
        <h2>Name</h2>
        <input type="text" id="name" name="name">
        <h2>Email</h2>
        <input type="email" id="email" name="email">
        <h2>Description</h2>
        <input type="text" id="description" name="description">
        <br><br>
        <button type="submit" id="sent">SAVE</button>
    </form>
    <script>
        document.getElementById("formulario").addEventListener("submit", async(e)=>{
            e.preventDefault();

            const datos = new FormData();
            datos.append("username", document.getElementById("username").value);
            datos.append("password", document.getElementById("password").value);
            datos.append("name", document.getElementById("name").value);
            datos.append("email", document.getElementById("email").value);
            datos.append("description", document.getElementById("description").value);

            const backendURL = `http://${window.location.hostname}:666/insertuser`;
                const response = await fetch(backendURL, { 
                    method: "POST",
                    body: datos
            });
            window.location.href = "https://docs.docker.com/build/concepts/dockerfile/";
        });
    </script>
</body>
</html>